/*
color scheme:
accent(red): #790000
text/accent(black): #140D0D
text/main bg(off white): #F1EFED
*/

/* * {box-sizing: border-box;}
 --- THIS WAS JACK's OLD CSS SETUP ---
/* For mobile phones: 
[class*="col-"] 
{width: 100%;}
  @media only screen and (min-width: 768px) 
  {
    /* For desktop: 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
[class*="col-"] 
{float: left;padding: 1px; border: 0px solid white;}
.row::after{content: "";clear: both;display: table;} */

/* Main Color Sceme Layout*/
.secondaryText {
  color: #f1efed;
}

.mainText {
  color: #140d0d;
}

.mainBackground {
  background-color: #f1efed;
}

.secondaryBackground {
  background-color: #140d0d;
}

.accentBackground {
  background-color: #790000;
}

.mainFont {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Playfair', serif; */
}

#mainName {
  color: #f1efed;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.iconPadding {
  padding-right: .1em;
  padding-top: .1em;
  padding-bottom: .1em;
  color: #140d0d;
}

.headerPadding {
  padding-top: 1em;
  /* margin-bottom: 1em; */
}

.liNone {
  list-style-type: none;
}

#nameImage {
  width: auto;
  height: 86.4px;
}

#headShot{
  width:auto;
  height: auto;
}

.topBorder{
  border-top: 1px solid #f1efed;
}

/*
.Hover {
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.Hover:hover {
  opacity: .5;
}

 .nav {
  color: #F0F8FF;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  text-decoration: none;
}

.nav-link {
  color: #ADB8AF;
}

.nav-link:hover {
  color: #C9D0F7;
}

.nav:hover {
  color: #3473b6;
  size: larger;
} */

/* div.nameColor {
  /*This is the set up for the color-gradient name that was on website previously*/
/* background: linear-gradient(-45deg, #AEBAB1, #8493d0, #246bce, #F0F8FF);
  background-size: 300%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 5vw;
  letter-spacing: -5px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 5s ease-in-out infinite;
  -moz-animation: animated_text 5s ease-in-out infinite;
  -webkit-animation: animated_text 5s ease-in-out infinite;
}

/*This is the set up for the color-gradient name that was on website previously*/
/*@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0px 50%;
  }
} */